{% extends "base.njk" %}
{% block content %}
<h1>{{ title }}</h1>
<p>{{ content | safe }}</p>

<h2>Categorias de Tecnologias</h2>
<ul>
  {% for categoria in collections.tecnologiasCategorias %}
    <li>
      <h3><a href="{{ categoria.url }}">{{ categoria.data.title }}</a></h3>
      <p>{{ categoria.data.descricao_categoria }}</p>
    </li>
  {% endfor %}
</ul>

<h2>Categorias de Recursos</h2>
<ul>
  {% for categoria in collections.recursosCategorias %}
    <li>
      <h3><a href="{{ categoria.url }}">{{ categoria.data.title }}</a></h3>
    </li>
  {% endfor %}
</ul>
{% endblock %}
